<header class="fixed-header">
  <nav>
    <div class="header-left">
      <img src="../../assets/img/white-m2-logo.png" alt="Logo" class="logo">
      <div class="project-title">
        <h1>Manage Mosaic</h1>
        <span>Your All-in-One Solution for Stress-Free Living and Enjoyable Experiences</span>
      </div>
    </div>
  </nav>
  <div class="header-right">
    <i class="bi bi-house-door" routerLink="/rentmanage/userdashboard" title="Dashboard"></i>
    <i class="bi bi-reply-fill" (click)="back()" title="Click to go back"></i>
    <!-- //notification -->
    <div class="profile-dropdown">
      <i class="bi bi-bell"></i><sup>{{notifications?.length}}</sup>
      <div class="dropdown-list example-container">
        <p style="font-weight: bold; text-align: center; background-color: #dfd9d9;">Notification</p><hr>
        <ng-container *ngFor="let item of notifications">
          <div class="notification-item">
            <i class="bi bi-envelope-at-fill" *ngIf="item?.status==1"></i>
            <i class="bi bi-person-check-fill" *ngIf="item?.status==3"></i>
            <i class="bi bi-person-dash-fill" *ngIf="item?.status==2"></i>
            <i class="fas fa-comment-dots" *ngIf="item?.status==4"></i>
            <p>{{ item?.message }}</p>
          </div>
          <hr>
        </ng-container>
      </div>
    </div>
    <!-- //Setting -->
    <div class="profile-dropdown">
      <i class="bi bi-gear"></i>
      <div class="dropdown-sett">
        <div class="notification-item">
          <i class="bi bi-cpu"></i>
          <p>Updated<br>
            Version 1.0.1
          </p>
        </div><hr>
        <div class="notification-item">
          <i class="bi bi-shield-fill-check"></i>
          <p>Privacy policy<br>
            2024
          </p>
        </div><hr>
        <div class="notification-item">
          <i class="bi bi-c-circle"></i>
          <p>Copyright Policy<br>2024</p>
        </div><hr>
      </div>
    </div>
    <!-- //profile -->
    <div class="profile-dropdown">
      <i class="bi bi-person-circle"></i>
      <div class="dropdown-menu">
        <a href="#" (click)="updateProfile()">Update Profile</a>
        <a href="#" (click)="changePassword()">Change Password</a>
      </div>
    </div>
    <i class="bi bi-box-arrow-right" (click)="logout()" title="Logout"></i>
  </div>
</header>
