<app-sidebar></app-sidebar>
<div class="content">
  <div class="row">
    <div class="col-md-12 col-lg-5 col-sm-12">
      <div class="card" style="height: 400px;">
        <div class="card-header">
          <i class="fa-solid fa-users me-3"></i>Tenent Directory
        </div>
        <div style="padding: 10px;">
          <div class="search-bar form-control" >
            <i class="bi bi-search search-icon"></i>
            <input type="text" placeholder="Search..." id="txtsearchDate " name="txtsearchDate "
            [(ngModel)]="txtsearchDate" maxlength="20 "/>
          </div>
          <div class="example-container">
          <div class="tab-container" *ngFor="let tenant of tenantUser | filter:txtsearchDate">
            <div class="tab-row">
              <div class="tab-left">
                <span class="name" data-bs-toggle="modal" data-bs-target="#userdetails"
                title={{tenant.fullName}} data-bs-toggle="modal" data-bs-target="#userdetails" (click)="getdetails(tenant)">{{tenant?.fullName}}</span><br>
                <span class="me-5">{{tenant?.roomNo}}</span>
                <span>{{tenant?.houseName}}</span>
              </div>
              <div class="tab-right">
                <span><i class="bi bi-phone-fill me-1" style="color: #388087;"></i>{{tenant?.mobileNo}}</span><br>
                <span style="color: red;">₹ {{tenant?.rentAmount}}</span>
              </div>
            </div>
            <hr>
          </div>
        </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-7 col-sm-12">
      <div class="row">
        <div class="card" style="height: 200px;">
          <div class="row" style="display: flex; align-items: center; ">
            <div class="tabdata col-md-4">
              <img src="../../../../assets/img/enterprise.gif" alt="house" class="housedimg">
              <div class="housed-text" style="font-size: 22px;font-family: 800;">{{roomCountdata?.homecount}}</div>
              <div class="housed-text" >Total No Of House</div>
            </div>
            <div class="tabdata col-md-4">
              <img src="../../../../assets/img/living-room.gif" alt="home" class="housedimg">
              <div class="housed-text" style="font-size: 22px;font-family: 800;">{{roomCountdata?.roomcount}}</div>
              <div class="housed-text" >Total No Of Room</div>
            </div>
            <div class="tabdata col-md-4">
              <img src="../../../../assets/img/family.gif" alt="house" class="housedimg">
              <div class="housed-text" style="font-size: 22px;font-family: 800;">{{roomCountdata?.tenantfamily}}</div>
              <div class="housed-text" >Total No Of Tenants</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 2ch;">
        <div class="col-md-7">
          <div class="card">
            <div class="card-body">
              <div class="vertical-bar-container">
                <div class="fill occupied" [ngStyle]="{ height: occupiedPercentage + '%' }"></div>
                <div class="fill advance" [ngStyle]="{ height: advancePercentage + '%' }"></div>
                <div class="fill remaining" [ngStyle]="{ height: vacanciesPercentage + '%' }"></div>
              </div>
                  <div class="legend">
                      <div class="legend-item">
                          <span class="legend-color total"></span>
                          <span>Total Room ({{ roomCountdata?.roomcount }})</span>
                      </div>
                      <div class="legend-item">
                          <span class="legend-color occupied"></span>
                          <span>Occupied Rooms ({{ roomCountdata?.tenantcount }})</span>
                      </div>
                      <div class="legend-item">
                          <span class="legend-color advance"></span>
                          <span>Advanced Reservations ({{ roomCountdata?.advancebook }})</span>
                      </div>
                      <div class="legend-item">
                          <span class="legend-color remaining"></span>
                          <span>Available Rooms ({{ roomCountdata?.available }})</span>
                      </div>
                  </div>
            </div>
          </div>
        </div>

        <div class="col-md-5">
          <div class="card">
            <div class="card-body">
              <div class="tabdata" >
                <i class="bi bi-emoji-expressionless" style="color:#1a9da7;" *ngIf="paidrent<=20"></i>
                <i class="bi bi-emoji-frown" style="color:#9742dd;" *ngIf="paidrent>20 && paidrent<=50"></i>
                <i class="bi bi-emoji-smile" style="color:#ec5475;" *ngIf="paidrent>50 && paidrent<=75"></i>
                <i class="bi bi-emoji-heart-eyes" style="color:#15e253;" *ngIf="paidrent>75 && paidrent<=100"></i>
                <div class="horizontal-bar-container">
                  <div class="horizontal-bar-fill" [ngStyle]="{ width: paidrent + '%' }"></div>
                </div>
                <div class="percentage-text"><span style="color: #3182da; font-size: 20px;">{{ paidrent }}%</span> of the total rent amount is paid by the tenant..</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 2ch;">
    <div class="col-md-6 col-lg-4 col-sm-12">
      <div class="card">
        <div class="card-body1">
          <div class="tabdata">
            <i class="bi bi-cash-coin" style="color:rgb(219, 140, 20);"></i>
            <div class="eraning-text">Total Revenue to Date : <span>{{revenuecount?.totalrevenue | currency:"":""}}</span></div>
            <div class="eraning-text">Earnings for This Year : <span>{{revenuecount?.yearlyrevenue | currency:"":""}}</span></div>
            <div class="eraning-text">Earnings for This Month : <span>{{revenuecount?.monthlyrevenue | currency:"":""}}</span></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="tabdata ">
            <i class="bi bi-calendar-check" style="color:rgb(236, 90, 46);"></i>
            <div class="booking-text">Advance Reservations : <span>0</span></div>
            <div class="booking-text">Rooms Vacant Soon : <span>0</span></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-5 col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="tabdata border-end">
            <i class="bi bi-building-gear" style="color:rgb(155, 68, 68);"></i>
            <div class="compl-text" style="color:rgb(241, 47, 47); font-size: 22px; font-weight: 700;">{{compliantsumdata?.pending}}</div>
            <div class="compl-text me-4">Complaints Pending Resolution</div>
          </div>
          <div class="tabdata ">
            <i class="bi bi-building-fill-exclamation" style="color:#6FB3B8;"></i>
            <div class="compl-text" style="color:#388087; font-size: 22px; font-weight: 700;">{{compliantsumdata?.inprogress}}</div>
            <div class="compl-text">Complaints In Progress</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row" style="margin-top: 2ch;">
    <div class="col-xxl-6 col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
       <div class="card" style="height: 100%; padding: 0;">
          <div class="card-header">
            <div class="heading">Amount Collected in {{curyear}} </div>
          </div>
          <div class="card-body executive_chart">
             <div id="speciality_chart" class="chart_section">
             </div>
          </div>
       </div>
    </div>

    <div class="col-xxl-6 col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
       <div class="card" style="height: 100%; padding: 0;">
          <div class="card-header">
             <div class="heading">Growth in {{curyear}} </div>
          </div>
          <div class="card-body executive_chart">
             <div id="procedure_chart" class="chart_section"></div>
          </div>
       </div>
    </div>
 </div> -->

</div>

<!-- User Details-->
<div class="modal fade" id="userdetails" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 10ch;">
  <div class="modal-dialog" style="max-width: 35%; margin-top: 0;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="font-size: 25px; color: #388087">
          <i class="bi bi-file-person-fill me-2"></i>{{gettenantdata?.fullName}}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="tenant-card">
          <div class="detail">
            <span>Mobile No:</span>
            <p>{{gettenantdata?.mobileNo}}</p>
          </div>
          <div class="detail">
            <span>Additional Mobile No:</span>
            <p>{{gettenantdata?.altMobileNo}}</p>
          </div>
          <div class="detail">
            <span>Room No:</span>
            <p>{{gettenantdata?.roomNo}}</p>
          </div>
          <div class="detail">
            <span>House Name:</span>
            <p>{{gettenantdata?.houseName}}</p>
          </div>
          <div class="detail">
            <span>Family Members:</span>
            <p>{{gettenantdata?.noOfMember}}</p>
          </div>
          <div class="detail">
            <span>Members Mobile No:</span>
            <p>{{gettenantdata?.memberMobileNo}}</p>
          </div>
          <div class="detail">
            <span>Rent Amount:</span>
            <p>₹ {{gettenantdata?.rentAmount | currency:'':''}}</p>
          </div>
          <div class="detail">
            <span>Adv Amount:</span>
            <p>₹ {{gettenantdata?.advAmount | currency:'':''}}</p>
          </div>
          <div class="detail">
            <span>Allocation Date:</span>
            <p>{{gettenantdata?.effectiveDate}}</p>
          </div>
          <div class="detail">
            <span>Aadhar Doc:</span>
            <p *ngIf="gettenantdata?.aadharDetails!=null"><i class="bi bi-file-earmark-arrow-down-fill" (click)="downloadTenantDoc(gettenantdata?.aadharDetails)"></i></p>
            <p *ngIf="gettenantdata?.aadharDetails==null">N/A</p>
          </div>
          <div class="detail">
            <span>Rent Aggrement:</span>
            <p *ngIf="gettenantdata?.agreementDoc!=null"><i class="bi bi-file-earmark-arrow-down-fill" (click)="downloadTenantDoc(gettenantdata?.agreementDoc)"></i></p>
            <p *ngIf="gettenantdata?.agreementDoc==null">N/A</p>
          </div>
          <div class="detail">
            <span>Other Document:</span>
            <p *ngIf="gettenantdata?.otherDoc!=null"><i class="bi bi-file-earmark-arrow-down-fill" (click)="downloadTenantDoc(gettenantdata?.otherDoc)"></i></p>
            <p *ngIf="gettenantdata?.otherDoc==null">N/A</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





