<div class="main-tab px-0 mb-2">
  <div class="container" style="margin-top: 3ch;">
    <div class="dashboard-text">
      <h1>Hello, <span>Rajendra</span>! Welcome to <span>Manage Mosaic.</span></h1>
      <p>Manage Mosaic revolutionizes event planning by taking the stress out of organizing both personal and
        professional gatherings. Whether you’re hosting a small get-together, a corporate event, a wedding,
        or a large conference, our platform streamlines the entire process by managing RSVPs and logistics
        seamlessly.</p>
      <p>Our dedicated team provides tailored event planning services, ensuring that every detail aligns with
        your vision. From selecting the perfect venue to coordinating schedules, we handle all aspects of the
        planning process, allowing you to focus on enjoying your event.</p>
      <p>Manage Mosaic specializes in corporate event management, providing expert coordination for meetings,
        seminars, product launches, and retreats. We ensure every detail, from catering to audiovisual needs,
        is flawlessly executed, reflecting your company's values. For weddings, we offer full-service
        coordination, managing venue selection and timelines to create a stress-free experience. Our
        conference planning solutions include venue selection and registration management, ensuring a
        seamless experience for organizers and attendees. With Manage Mosaic, your events will be memorable
        and enjoyable, allowing you to focus on what matters.</p>
      <p>At Manage Mosaic, we are committed to making your events memorable and enjoyable.
        For further assistance and to discuss your specific event needs,
        please contact us at <a href="/contactus" style="font-weight: 500; color: red;">Contact Us</a>. Let us help you create unforgettable experiences!</p>
      <div class="download-app" style="display: flex; align-items: center;">
        <p style="font-size: 20px; font-weight: 500; margin-right: 10px;">Download now to use this feature!</p>
        <img src="../../../assets/img/download-app-apple.png" alt="">
        <img src="../../../assets/img/download-app-google.png" alt="">
      </div>
    </div>
  </div>
</div>
