<div class="sidebar">
  <div class="logo">
    <i class="fa fa-building me-3"></i>
    <h4>Home Rent Management</h4>
  </div>
  <hr>
  <ul class="nav-links">
    <li>
      <a routerLink="/rentmanage/userdashboard">
        <i class="bi bi-speedometer2"></i> <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/rentmanage/homerentmanage/upcommingpayment">
        <i class="bi bi-cash-coin"></i>
        <span>Payment<sup> 43</sup></span>
      </a>
    </li>
    <li>
      <a routerLink="/rentmanage/homerentmanage/housedetails">
        <i class="bi bi-house-add"></i> <span>Manage Home Details</span>
      </a>
    </li>
    <li>
      <a routerLink="/rentmanage/homerentmanage/addtenent">
        <i class="bi bi-people"></i> <span>Manage User Details</span>
      </a>
    </li>
    <li>
      <a routerLink="/rentmanage/homerentmanage/reminder">
        <i class="bi bi-alarm"></i>
         <span>Reminder<sup> 10</sup></span>
      </a>
    </li>
    <li>
      <a routerLink="/rentmanage/homerentmanage/compliants">
        <i class="bi bi-wrench-adjustable-circle"></i>
        <span>Repair Requests<sup> 101</sup></span>
      </a>
    </li>
    <li>
      <a routerLink="/contactus">
        <i class="bi bi-headset"></i> <span>Support</span>
      </a>
    </li>
  </ul>
  <!-- <p class="help-text">Your One-Stop Solution for Easy Living</p> -->
</div>
