<app-sidebar></app-sidebar>
<div class="content">

  <div class="row">
    <div class="col-md-12 col-lg-5 col-sm-12">
      <div class="card" style="height: 400px;">
        <div class="card-header">
          <i class="fa-solid fa-users me-3"></i>Tenent Directory
        </div>
        <div style="padding: 10px;">
          <div class="search-bar form-control" >
            <i class="bi bi-search search-icon"></i>
            <input type="text" placeholder="Search..." id="txtsearchDate " name="txtsearchDate "
            [(ngModel)]="txtsearchDate" maxlength="20 "/>
          </div>
          <div class="example-container">
          <div class="tab-container" *ngFor="let tenant of users | filter:txtsearchDate">
            <div class="tab-row">
              <!-- <i class="bi bi-file-person me-2" style="font-size: 30px; color: #388087;"></i> -->
              <div class="tab-left">
                <span class="name">{{tenant.fullName}}</span><br>
                <span class="me-5">{{tenant.roomName}}</span>
                <span>{{tenant.houseName}}</span>
              </div>
              <div class="tab-right">
                <span><i class="bi bi-phone me-1" style="color: #388087;"></i>{{tenant.mobileNo}}</span><br>
                <span style="color: red;">₹ {{tenant.dueAmount}}</span>
              </div>
            </div>
            <hr>
          </div>
        </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-7 col-sm-12">
      <div class="row">
        <div class="card" style="height: 200px;">
          <div class="row" style="display: flex; align-items: center; ">
            <div class="tabdata col-md-4">
              <img src="../../../../assets/img/enterprise.gif" alt="house" class="housedimg">
              <div class="housed-text" style="font-size: 22px;font-family: 800;">5</div>
              <div class="housed-text">Total No Of House</div>
            </div>
            <div class="tabdata col-md-4">
              <img src="../../../../assets/img/living-room.gif" alt="home" class="housedimg">
              <div class="housed-text" style="font-size: 22px;font-family: 800;">38</div>
              <div class="housed-text">Total No Of Room</div>
            </div>
            <div class="tabdata col-md-4">
              <img src="../../../../assets/img/family.gif" alt="house" class="housedimg">
              <div class="housed-text" style="font-size: 22px;font-family: 800;">57</div>
              <div class="housed-text">Total No Of Tenants</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 2ch;">
        <div class="col-md-7">
          <div class="card">
            <div class="card-body">
              <div class="vertical-bar-container">
                <div class="fill occupied" [ngStyle]="{ height: occupiedPercentage + '%' }"></div>
                <div class="fill advance" [ngStyle]="{ height: advancePercentage + '%' }"></div>
                <div class="fill remaining" [ngStyle]="{ height: vacanciesPercentage + '%' }"></div>
              </div>
                  <div class="legend">
                      <div class="legend-item">
                          <span class="legend-color total"></span>
                          <span>Total Room ({{ totalRooms }})</span>
                      </div>
                      <div class="legend-item">
                          <span class="legend-color occupied"></span>
                          <span>Occupied Rooms ({{ occupied }})</span>
                      </div>
                      <div class="legend-item">
                          <span class="legend-color advance"></span>
                          <span>Advanced Reservations ({{ advance }})</span>
                      </div>
                      <div class="legend-item">
                          <span class="legend-color remaining"></span>
                          <span>Available Rooms ({{ vacancies }})</span>
                      </div>
                  </div>
            </div>
          </div>
        </div>

        <div class="col-md-5">
          <div class="card">
            <div class="card-body">
              <div class="tabdata" >
                <i class="bi bi-emoji-expressionless" style="color:#1a9da7;" *ngIf="paidrent<=20"></i>
                <i class="bi bi-emoji-frown" style="color:#9742dd;" *ngIf="paidrent>20 && paidrent<=50"></i>
                <i class="bi bi-emoji-smile" style="color:#ec5475;" *ngIf="paidrent>50 && paidrent<=75"></i>
                <i class="bi bi-emoji-heart-eyes" style="color:#15e253;" *ngIf="paidrent>75 && paidrent<=100"></i>
                <div class="horizontal-bar-container">
                  <div class="horizontal-bar-fill" [ngStyle]="{ width: paidrent + '%' }"></div>
                </div>
                <div class="percentage-text"><span style="color: #3182da; font-size: 20px;">{{ paidrent }}%</span> of the total rent amount is paid by the tenant..</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 2ch;">

    <div class="col-md-6 col-lg-4 col-sm-12">
      <div class="card">
        <div class="card-body1">
          <div class="tabdata">
            <i class="bi bi-cash-coin" style="color:rgb(219, 140, 20);"></i>
            <div class="eraning-text">Total Revenue to Date : <span>{{totalearn}}</span></div>
            <div class="eraning-text">Earnings for This Year : <span>{{monthearn}}</span></div>
            <div class="eraning-text">Earnings for This Month : <span>{{yearhearn}}</span></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="tabdata ">
            <i class="bi bi-calendar-check" style="color:rgb(236, 90, 46);"></i>
            <div class="booking-text">Advance Reservations : <span>{{advbook}}</span></div>
            <div class="booking-text">Rooms Vacant Soon : <span>{{upcmgvncy}}</span></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-5 col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="tabdata ">
            <i class="bi bi-building-gear" style="color:rgb(155, 68, 68);"></i>
            <div class="compl-text" style="color:rgb(241, 47, 47); font-size: 22px; font-weight: 700;">28</div>
            <div class="compl-text">Complaints Pending Resolution</div>
          </div>
          <div class="tabdata ">
            <i class="bi bi-building-fill-exclamation" style="color:#6FB3B8;"></i>
            <div class="compl-text" style="color:#388087; font-size: 22px; font-weight: 700;">28</div>
            <div class="compl-text">Complaints In Progress</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row" style="margin-top: 2ch;">
    <div class="col-md-12 col-lg-6 col-sm-12">
      <div class="card">
        <div class="card-body">
        </div>
      </div>
    </div>
  </div> -->

</div>





