<div class="main-tab px-0 mb-2">
  <div class="image-container">
    <img src="../../../assets/img/bgimagee.jpg" alt="Download Soon">
  </div>
  <div class="container" style="margin-top: -3ch;">
    <div class="dashboard-text">
      <div class="headcard">
        <h2>Hello, <span>{{this.user?.firstName==null?'User':this.user?.firstName}}</span> ! Welcome to <span>Manage Mosaic.</span></h2>
      </div>

      <div class="d-flex col-md-12 col-lg-12 col-sm-6 col-12 px-0" style="margin-top: 10ch;">
        <div class="card-tab">
          <a class="card1" [routerLink]="['/rentmanage/homerentmanage/dashboard']" routerLinkActive="router-link-active"
            title="Rent Management">
            <div class="d-flex f-col">
              <div class="icon_tabp"> <span><i class="fa fa-building"></i></span> </div>
              <div class="cardpk-txt"> HomeRent Management </div>
            </div>
            <div class="go-corner">
              <div class="go-arrow">
                <i class="bi bi-arrow-right"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="card-tab">
          <a class="card1" [routerLink]="['/rentmanage/tripmanage']" routerLinkActive="router-link-active"
            title="Unblock Package">
            <div class="d-flex f-col">
              <div class="icon_tabp"> <span><i class="fa fa-cab"></i></span> </div>
              <div class="cardpk-txt"> Trip Management </div>
            </div>
            <div class="go-corner">
              <div class="go-arrow">
                <i class="bi bi-arrow-right"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="card-tab">
          <a class="card1" [routerLink]="['/rentmanage/eventmanage']" routerLinkActive="router-link-active"
            title="Unblock Package">
            <div class="d-flex f-col">
              <div class="icon_tabp"> <span><i class="fa fa-calendar"></i></span> </div>
              <div class="cardpk-txt"> Event Management </div>
            </div>
            <div class="go-corner">
              <div class="go-arrow">
                <i class="bi bi-arrow-right"></i>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 col-sm-12">
          <div class="card">
            <div class="card-body">
              <img src="../../../assets/img/multiuser.png" height="100" width="160" alt="Download Soon">
              <div class="tebtext">
                <h3>10K +</h3>
                <h5>Satisfied Users</h5>
                <p>People across India are using our app to simplify their lives.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-sm-12 ">
          <div class="card">
            <div class="card-body">
              <img src="../../../assets/img/landlord2.png" height="130" width="160"  alt="Download Soon">
              <div class="tebtext">
                <h3>1200 +</h3>
                <h5>Landlords Empowered</h5>
                <p>Landlords are always prepared to rent out their properties.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-sm-12">
          <div class="card">
            <div class="card-body">
              <img src="../../../assets/img/eventmanage1.png" height="150" width="200"  alt="Download Soon">
              <div class="tebtext">
                <h3>800 +</h3>
                <h5>Event Planners</h5>
                <p>5K+ successful events planned, all with a 5-star rating across India.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-sm-12">
          <div class="card">
            <div class="card-body">
              <img src="../../../assets/img/town_2942593.png" height="100" width="100"  alt="Download Soon">
              <div class="tebtext">
                <h3>300 +</h3>
                <h5>Cities Covered</h5>
                <p>Our app is enhancing lives in over 250 cities across India.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row about">
        <div class="col-lg-7">
          <h1>About <span style="color: #4295ec;">What We Do</span> & Who We Are</h1>
          <p>Manage Mosaic is a versatile mobile app designed to simplify and enhance the way people manage various
            aspects of their lives. We understand that balancing everyday tasks like rental management,
            trip planning, and event organization can be overwhelming. That’s why we created Manage Mosaic a single
            platform that brings together all these essential tools, allowing you to stay organized, reduce stress,
            and enjoy more time with the things that matter most.
          </p>
          <p>
            We aim to make life easier by providing an all-in-one solution that helps you manage key tasks with ease.
            By reducing the time spent on organizing and planning, Manage Mosaic gives you more freedom to enjoy
            life’s moments while also helping you save on expenses.
          </p>
        </div>
        <div class="col-lg-5 row">
          <div class="col-lg-6">
            <img src="../../../assets/img/about-solotrip.jpg" alt="Download Soon" class="aboutimg">
          </div>
          <div class="col-lg-6 mt-5" >
            <img src="../../../assets/img/about-renthome.jpg" alt="Download Soon" class="aboutimg">
          </div>
        </div>
      </div>

      <div class="servcnt">
        <h1 >Your One-Stop App for <span style="color: #4295ec;">40+</span> Problem-Solving Solutions</h1>
      </div>

      <div class="row mt-5">
        <div class="col-lg-4">
          <img src="../../../assets/img/room01.jpg" alt="Download Soon" class="servimg" style="border-radius: 20px 20px 0 0;">
          <img src="../../../assets/img/room02.jpg" alt="Download Soon" class="servimg" style="border-radius: 0 0 20px 20px ;">
        </div>
        <div class="col-lg-8">
          <h1 style="text-align: left; font-family: 'Playfair Display', serif; color: #388087; font-weight: bold;">Rent Management</h1>
          <p style="text-align: justify;">Manage Mosaic streamlines rental property management by tracking tenants,
            handling payments, and managing room availability. It connects homeowners with potential tenants,
            supports maintenance requests, and provides real-time updates. With all tasks centralized,
            Manage Mosaic simplifies operations, saves time, and enhances communication for efficient and organized
            property management.</p>
          <div class="d-flex" style="margin-top: -2ch;">
            <div>
              <img src="../../../assets/img/building.gif" alt="Download Soon" class="servgif"><br>
              <p style="font-weight: 500;">Rent with Confidence</p>
            </div>
            <div>
              <img src="../../../assets/img/management.gif" alt="Download Soon" class="servgif"><br>
              <p style="font-weight: 500;">From Onboarding to Offboarding</p>
            </div>
            <div>
              <img src="../../../assets/img/growth.gif" alt="Download Soon" class="servgif"><br>
              <p style="font-weight: 500;">Elevate Your Lifestyle</p>
            </div>
            <div>
              <img src="../../../assets/img/paying.gif" alt="Download Soon" class="servgif"><br>
              <p style="font-weight: 500;">Get Your Perfect Space</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-8">
          <h1 style="text-align: left; font-family: 'Playfair Display', serif; color: #388087; font-weight: bold;">Trip Management</h1>
          <p style="text-align: justify;">Manage Mosaic simplifies group travel planning by organizing itineraries,
            tracking expenses, and providing tailored recommendations for destinations, hotels, and dining options.
            It enhances collaboration by allowing groups to plan together seamlessly, ensuring everyone stays
            informed and engaged. With Manage Mosaic, trips become more organized, enjoyable, and stress-free from
            start to finish.</p>
          <div class="d-flex" style="margin-top: -2ch;">
            <div class="me-4">
              <img src="../../../assets/img/car.gif" alt="Download Soon" class="servgif"><br>
              <p style="font-weight: 500;">Weekend Wanderlust</p>
            </div>
            <div class="me-4">
              <img src="../../../assets/img/trip.gif" alt="Download Soon" class="servgif"><br>
              <p style="font-weight: 500;">Explore the World</p>
            </div>
            <div class="me-4">
              <img src="../../../assets/img/honeymoon.gif" alt="Download Soon" class="servgif"><br>
              <p style="font-weight: 500;">Explore Beyond Borders</p>
            </div>
            <div>
              <img src="../../../assets/img/solo-traveller.gif" alt="Download Soon" class="servgif"><br>
              <p style="font-weight: 500;">Embrace Adventure</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <img src="../../../assets/img/travel02.jpg" alt="Download Soon" class="servimg" style="border-radius: 20px 20px 0 0;">
          <img src="../../../assets/img/travel01.jpg" alt="Download Soon" class="servimg" style="border-radius: 0 0 20px 20px ;">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-4">
          <img src="../../../assets/img/pooja01.jpg" alt="Download Soon" class="servimg" style="border-radius: 20px 20px 0 0;">
          <img src="../../../assets/img/event01.jpg" alt="Download Soon" class="servimg" style="border-radius: 0 0 20px 20px ;">
        </div>
        <div class="col-lg-8 ">
          <h1 style="text-align: left; font-family: 'Playfair Display', serif; color: #388087; font-weight: bold;">Event Management</h1>
          <p style="text-align: justify;">Manage Mosaic streamlines event planning by efficiently managing RSVPs,
            coordinating logistics, and facilitating communication among participants. Whether for personal
            gatherings or professional celebrations, it ensures every detail is covered, allowing hosts to focus on
            creating memorable experiences. With Manage Mosaic, planning events becomes smooth, organized, and
            stress-free.</p>
          <div class="d-flex" style="margin-top: -2ch;">
            <div>
              <img src="../../../assets/img/event-management.gif" alt="Download Soon" class="servgif"><br>
              <p style="font-weight: 500;">Event Planning Simplified</p>
            </div>
            <div>
              <img src="../../../assets/img/confetti.gif" alt="Download Soon" class="servgif"><br>
              <p style="font-weight: 500;">The Joy Never Stops</p>
            </div>
            <div>
              <img src="../../../assets/img/wine.gif" alt="Download Soon" class="servgif"><br>
              <p style="font-weight: 500;">Navigating the Corporate World</p>
            </div>
            <div>
              <img src="../../../assets/img/family.gif" alt="Download Soon" class="servgif"><br>
              <p style="font-weight: 500;">Memorable Family Moments</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="bgstickimg">
    <img src="../../../assets/img/m2-logo.png" alt="Download Soon" height="140px" width="210px">
    <p>Your All-in-One Solution for Stress-Free Living and Enjoyable Experiences</p>
    <p style="font-family: 'Times New Roman', Times, serif;"><i class="bi bi-telephone-forward-fill me-2"></i>6370178554</p>
    <p style="margin-top: -1ch; font-family: 'Times New Roman', Times, serif;"><i class="bi bi-envelope-at-fill me-2"></i>managemosaic@gmail.com</p>
    <p style="margin-top: -1ch; font-family: 'Times New Roman', Times, serif;"><i class="bi bi-geo-alt-fill me-2"></i>Hanspal Bhubaneswar, Odisha-752115</p>
    <p style="letter-spacing: 15px;">
      <a href="" style="text-decoration: none; font-size:25px; color: white;"><i class="bi bi-facebook"></i></a>
      <a href="" style="text-decoration: none; font-size:25px; color: white;"><i class="bi bi-instagram"></i></a>
      <a href="" style="text-decoration: none; font-size:25px; color: white;"><i class="bi bi-twitter"></i></a>
      <a href="" style="text-decoration: none; font-size:25px; color: white;"><i class="bi bi-youtube"></i></a>
      <a href="" style="text-decoration: none; font-size:25px; color: white;"><i class="bi bi-linkedin"></i></a>
    </p>
    <div class="download-app">
      <p style="font-family: 'Times New Roman', Times, serif; font-size: 18px; letter-spacing: 3px;">Download It Now</p>
      <img src="../../../assets/img/download-app-apple.png" alt="Download From Playstore">
      <img src="../../../assets/img/download-app-google.png" alt="Download From Appstore">
    </div>
  </div>
</div>
