.content {
  margin-left: 250px; /* Adjust according to your sidebar width */
  padding: 20px;
}

.madotory{
  margin-top: 30px; 
  color: rgb(199, 8, 8);
  font-style: italic; 
  font-size: 17px; 
  font-weight: 500;
  text-align: end;
}