
.content {
  padding: 20px;
}

.card-header {
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

.active {
  // background-color: #d8fce2; /* Example color (blue) */
  color: red; /* Text color for contrast */
}

.example-container {
  height: 46ch;
  max-width: 100%;
  overflow: auto;
}
.example-container1 {
  height: 240px;
  max-width: 100%;
  overflow: auto;
}

.unique__section {
  .card-body {
    text-align: center;

    label {
      font-size: 1.563rem;
      font-weight: 600;
      line-height: 29px;


      @media (max-width: 1440px) {
          font-size: 1.25rem;
        }
    }

    p {
      font-size: 0.875rem;
      margin: 0;
    }
  }

  .flexing_uniquie {
      height: 100%;

      @media (max-width: 1440px) {
          .px-4 {
              padding-right: 1rem !important;
              padding-left: 1rem !important;
          }
        }

    .item {
      border-right: 1px solid #ddd;

      &:last-child {
        border: 0;
      }
    }

    ul {
      margin: 0;
      padding-left: 1rem;
      line-height: 40px;
    }

    li {
      list-style: square;

      &::marker {
        color: #9E6B28;
        font-size: 1.25rem;
      }
    }
  }

  .item_flex {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: space-between;

    label {
      font-size: 1.125rem;
      margin: 0;

      @media (max-width: 1440px) {
          font-size: 1rem;
        }
    }
  }
}


.table-container {
  width: 100%;
}

.custom-table {
  width: 100%;
  border-collapse: separate; /* Allows border-spacing to work */
  border-spacing: 10px; /* Adds space between the cells */
  font-family: Arial, sans-serif;
}

.custom-table th {
  background-color: #6FB3B8;
  color: white;
  border-radius: 5px 20px 5px 20px;
}

.custom-table th, .custom-table td {
  padding: 5px;
  text-align: center;
}

.custom-table tbody tr:hover {
  background-color: #e0e0e0;
}

.paydata{
  .col-6{
    margin-top: -5px;
  }

  .col-12{
    margin-top: -5px;
  }
}

.histry_icon {
  font-size: 17px; 
  color: #388087;
  text-align: end;
  font-weight: 500;
  margin-top: -1ch;
  margin-bottom: -1ch;
}