<div class="col-lg-12 col-md-12 col-sm-12 col-12 main-tab px-0 mb-4">
  <div class="container" style="margin-top: 5ch;">
    <div class="d-flex col-md-12 col-lg-12 col-sm-12 col-12 px-0">
      <div class="card-tab">
        <a class="card1" [routerLink]="['/rentmanage/innerpage']" routerLinkActive="router-link-active"
          title="Unblock Package">
          <div class="d-flex f-col">
            <div class="icon_tabp"> <span class="icon-citizen-info-icon5 bred_ic"></span> </div>
            <div class="cardpk-txt"> HomeRent Management </div>
          </div>
          <div class="go-corner">
            <div class="go-arrow">
              <i class="fi-rr-arrow-right"></i>
            </div>
          </div>
        </a>
      </div>
      <div class="card-tab">
        <a class="card1" [routerLink]="['/unblock-package']" routerLinkActive="router-link-active"
          title="Unblock Package">
          <div class="d-flex f-col">
            <div class="icon_tabp"> <span class="icon-citizen-info-icon5 bred_ic"></span> </div>
            <div class="cardpk-txt"> Trip Management </div>
          </div>
          <div class="go-corner">
            <div class="go-arrow">
              <i class="fi-rr-arrow-right"></i>
            </div>
          </div>
        </a>
      </div>
      <div class="card-tab">
        <a class="card1" [routerLink]="['/unblock-package']" routerLinkActive="router-link-active"
          title="Unblock Package">
          <div class="d-flex f-col">
            <div class="icon_tabp"> <span class="icon-citizen-info-icon5 bred_ic"></span> </div>
            <div class="cardpk-txt"> Event Management </div>
          </div>
          <div class="go-corner">
            <div class="go-arrow">
              <i class="fi-rr-arrow-right"></i>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
