<div class="main-tab px-0 mb-2">
  <div class="container" style="margin-top: 3ch;">
    <div class="dashboard-text">
      <h1>Hello, <span>{{this.user?.firstName==null?'User':this.user?.firstName}}</span>! Welcome to <span>Manage Mosaic.</span></h1>
      <p class="head">Trip Management</p>
      <p class="data" style="margin-left: 5ch; margin-top: -2ch;">Trip Management refers to the process of organizing, planning, and coordinating all aspects
         of a trip or journey. It typically includes tasks like booking transportation, arranging accommodation,
         managing itineraries, tracking expenses, and ensuring the overall smooth execution of the trip.</p>

      <p class="head">How It Works ?</p>
      <p class="data" style="margin-left: 5ch; margin-top: -2ch;">Trip management involves organizing, planning, and coordinating all aspects of a journey,
        whether for business or leisure. It starts with defining objectives, selecting destinations, and setting dates,
        followed by creating a detailed itinerary covering travel schedules, accommodations, and activities. Booking
        transportation, lodging, and activities is the next step.</p>
      <p class="data" style="margin-left: 5ch; margin-top: -1ch;">Expense management is crucial, with budgeting for costs like transportation, accommodation, meals,
        and activities. Spending is tracked to stay within the budget, and receipts are collected, especially for business trips,
        to support reimbursement.</p>
      <p class="data" style="margin-left: 5ch; margin-top: -1ch;">During the trip, real-time adjustments may be necessary, such as dealing with flight delays or changes in plans.
        The itinerary is followed, and support is available for unexpected situations. After the trip, feedback is gathered, and expense
        reports are submitted.</p>

      <p  class="head">How We Support You ?</p>
      <p class="data" style="margin-left: 5ch; margin-top: -2ch;">Manage Mosaic simplifies group travel by allowing users to collaboratively plan itineraries,
        manage shared expenses, and track costs transparently. Users can easily split costs, track
        contributions, and settle payments. The app also provides personalized recommendations for
        destinations, hotels, and dining, ensuring a comfortable and enjoyable experience for all.
        It helps make group trips stress-free and fun by handling the planning details.</p>

      <p class="head">Types Of Trip</p>
        <ul style="margin-left: 5ch; margin-top: -2ch;">
          <li>Group Trip</li>
          <li>Solo Trip</li>
          <li>Adventure Trip</li>
          <li>Family Trip</li>
          <li>Honeymoon Trip</li>
        </ul>

      <p class="data" style="margin-left: 5ch; margin-top: -1ch;">Manage Mosaic simplifies your travel planning, transforming trips into stress-free
        experiences by handling various aspects of the journey. Whether it's a corporate trip, weekend
        getaway, or holiday vacation, the app offers a comprehensive solution for planning, managing expenses,
        and providing recommendations tailored to each type of trip.</p>

      <p class="data" style="margin-left: 5ch; margin-top: -1ch;">Manage Mosaic simplifies travel planning with an easy-to-use platform for both group and solo trips.
        It helps manage itineraries, track expenses, and offers tailored recommendations for destinations, hotels,
        and dining.  Whether it's a corporate trip or holiday getaway, the app ensures a stress-free experience.</p>
      <div class="download-app" style="display: flex; align-items: center;">
        <p style="font-size: 20px; font-weight: 500; margin-right: 10px;">Download now to use this feature!</p>
        <img src="../../../assets/img/download-app-apple.png" alt="">
        <img src="../../../assets/img/download-app-google.png" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal" id="openswal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="backdrop-filter: blur(10px); ">
  <div class="modal-dialog" style="max-width: 50%; margin-top: 100px;">
    <div class="modal-content">
      <div class="modal-body container" style="background-color: #F6F6F2;">
        <p class="head"> Enjoy this feature on your mobile by downloading it now! </p>
          <p class="data">Manage Mosaic simplifies travel planning with an easy-to-use platform for trips.
            It helps manage itineraries, track expenses, and offers tailored recommendations for destinations, hotels,
            and dining.  Whether it's a corporate trip or holiday getaway, the app ensures a stress-free experience.</p>
          <div class="download-app" style="display: flex; align-items: center;">
            <p style="font-size: 20px; font-weight: 500; margin-right: 10px;">Download now to use this feature!</p>
            <img src="../../../assets/img/download-app-apple.png" alt="">
            <img src="../../../assets/img/download-app-google.png" alt="">
          </div>
          <div class="text-center mt-3">
            <button type="button" class="btn-close text-center" data-bs-dismiss="modal" aria-label="Close" (click)="closemodal()"></button>
          </div>

      </div>
    </div>
  </div>
</div>
