<app-sidebar></app-sidebar>
<div class="content">
  <div class="flex-container">
    <p style="font-weight: 500; font-size: 17px; margin-right: auto;">Payment Reminder</p>

    <select class="form-select me-2" name="house" id="house" style="max-width: 250px;">
      <option value="" selected>Select House</option>
      <ng-container *ngFor="let item of houselist">
        <option value="{{item.districtcode}}">{{item.districtname}}</option>
      </ng-container>
    </select>

    <div class="search-bar form-control" style="max-width: 400px;">
      <i class="bi bi-search search-icon"></i>
      <input type="text" placeholder="Search..." id="txtsearchDate " name="txtsearchDate "
      [(ngModel)]="txtsearchDate" maxlength="20 " (input)="onSearch($event)" />
    </div>
  </div>
  <hr>

    <div class="row col-lg-11 card-container">
      <div class="col-lg-4 col-xxl-4 " *ngFor="let record of records | filter:txtsearchDate">
        <div class="card" >
          <div class="card-details">
            <div class="info-row">
              <h4>{{ record.name }}</h4>
              <i class="bi bi-person-vcard" style="font-size: 25px; color: rgb(46, 61, 148);"></i>
            </div>
            <div class="info-row">
              <p style="color: #285e2a; font-size: 15px;">Room : No 1001</p>
              <p class="badge bg-danger rent-amount">Rent : ₹{{ record.rentAmount }}</p>
            </div>
            <p style="color: #285e2a; font-style: italic;">House : {{ record.gender }}</p>
          </div>
          <div class="arrow">
            <i class="bi bi-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>
</div>
