/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

.maincolor{
    color: #388087;
    color: #6FB3B8;
    color: #BADFE7;
    color: #C2EDCE;
    color: #F6F6F2;
}

.color1{
  color: #388087;
}

.color2{
  color: #6FB3B8;
}

.color3{
  color: #BADFE7;
}

.color4{
  color: #C2EDCE;
}

.color5{
  color: #F6F6F2;
}

.photoUpload {
  position: relative;
  overflow: hidden;
  input {
      &.upload {
          position: absolute;
          top: 0;
          right: 0;
          margin: 0;
          padding: 0;
          font-size: 20px;
          cursor: pointer;
          opacity: 0;
          filter: alpha(opacity=0);
      }
  }
}
