/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

.maincolor{
    color: #388087;
    color: #6FB3B8;
    color: #BADFE7;
    color: #C2EDCE;
    color: #F6F6F2;
}
