<div class="main-tab px-0 mb-2">
  <div class="container" style="margin-top: 3ch;">
    <div class="dashboard-text">
      <h1>Hello, <span>Rajendra</span>! Welcome to <span>Manage Mosaic.</span></h1>
      <p>Manage Mosaic simplifies group and solo travel planning, transforming trips into stress-free
        experiences by handling various aspects of the journey. Whether it's a corporate trip, weekend
        getaway, or holiday vacation, the app offers a comprehensive solution for planning, managing expenses,
        and providing recommendations tailored to each type of trip.</p>
      <p>Manage Mosaic simplifies group travel by allowing users to collaboratively plan itineraries,
        manage shared expenses, and track costs transparently. Users can easily split costs, track
        contributions, and settle payments. The app also provides personalized recommendations for
        destinations, hotels, and dining, ensuring a comfortable and enjoyable experience for all.
        It helps make group trips stress-free and fun by handling the planning details.</p>
      <p>Solo travelers will find the app equally helpful. It assists in building personalized trip plans,
        providing budget-friendly options for accommodations, dining, and activities. Manage Mosaic takes the
        stress out of solo trip planning by curating recommendations based on the traveler’s preferences and
        previous travel history.</p>
      <p>Manage Mosaic simplifies travel planning with an easy-to-use platform for both group and solo trips.
        It helps manage itineraries, track expenses, and offers tailored recommendations for destinations, hotels,
        and dining.  Whether it's a corporate trip or holiday getaway, the app ensures a stress-free experience.</p>
      <div class="download-app" style="display: flex; align-items: center;">
        <p style="font-size: 20px; font-weight: 500; margin-right: 10px;">Download now to use this feature!</p>
        <img src="../../../assets/img/download-app-apple.png" alt="">
        <img src="../../../assets/img/download-app-google.png" alt="">
      </div>
    </div>
  </div>
</div>
